@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

////////// HEADER /////////

.header{
    &__burger{
        display: none;
    }
    &__container{
        height: 50px;
        width: 902px;
        margin: 0 auto;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 74px;
        height: 38px;
        margin: 6px 0 6px 0;
    }
    &__button{
        font-weight: 700;
        font-size: 14px;
        width: 122px;
        height: 31px;
        border: none;
        color: white;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
        border-radius: 10px;
        cursor: pointer;
    }
}

.menu{
    flex: 1;
    display: flex;
    &__list{
        margin-left: 138px ;
        display: flex;
    }
    &__list-link{
        color: black;
        padding: 0 20px;
    } 
    &__list-item{
        float: none;
    }  
}

////////// BLOCK 1 ////////////

.banner{
    max-width: 1152px;
    height: 584px;
    margin: 0 auto;
    background-image: url(../images/banner.png);
    &__container{
        height: 584px;
        max-width: 902px;
        margin: 0 auto;
    }
    &__botton{
        position: relative;
        top: -131px;
        z-index: 10;
    }
}

.info{
    width: 470px;
    padding-top: 60px;
    &__light{
        z-index: 0;
        position: absolute;
        width: 264px;
        height: 37px;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: -4px -4px 10px rgba(251, 182, 255, 0.5), 4px 4px 10px rgba(251, 182, 255, 0.5);
        border-radius: 10px;
    }
    &__light-text{
        font-size: 14px;
        font-weight: bold;
        color:white;
        padding: 10px 15px 7px;
    }
    &__flower{
        z-index: 10;
        position: relative;
        top: 16px;
        left: -22px;
    }
    &__triangle-left-top{
        position: relative;
        z-index: 20;
        top: -11px;
    }
    &__title{
        position: relative;
        top: -15px;
        padding-left: 14px;
        color: white;
        font-size: 36px;
        line-height: 42px;
    }
    &__text{
        position: relative;
        width: 444px;
        color: white;
        padding-left: 14px;
        padding-top: 11px;
        line-height: 16px;
    }
    &__triangle-center{
        z-index: 20;
        position: relative;
        left: 347px;
        top: -24px;
    }
    &__triangle-left-bottom{
        position: relative;
        top: -21px;
        left: -25px;
    }
    &__dark{
        width: 474px;
        display: flex;
        height: 37px;
        background: rgba(251, 182, 255, 0.21);
        border-radius: 10px;
        margin-top: 19px;
    }
    &__dark-like{
        margin-left: 10px;
        width: 16px;
        padding: auto;
    }
    &__dark-like-text{
        font-weight: 700;
        margin-left: 5px;
        margin-top: 10px;
        color: white;
    }
    &__triangle-right-bottom{
        position: relative;
        z-index: 20;
        left: 700px;
        top: 8px
    }
    &__triangle-right-top{
        position: relative;
        bottom: 394px;
        left: 933px
    }
}

/////////// BLOCK 2 ///////////////

.benefits{
    &__title{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 471px;
        font-size: 24px;
    }
}
.verticalBlock{
    margin-top: 12px;
}
.block-left{
    width: 50%;
    text-align: right;
    display: flex;
    margin-top: 44px;
}
.block__text{
    width: 332px;
    line-height: 16px;
    p{
        margin-top: 6px;
    }
}

.small-line{
    width: 29px;
    height: 1px;
    background-color: #C1C1C1;
    margin: 31px 5px 0 6px;
}
.number{
    background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
    border-radius: 50%;
    height: 38px;
    width: 38px;
    position: relative;
    margin-top: 11px;
}
.number b{
    position: absolute;
    top: 25%;
    left: 37%;
}
.block-right{
    width: 50%;
    margin-left: 45.5%;
    margin-top: 32px;
    display: flex;
}
.block2{
    margin-top: 45px;
}
.block4{
    margin-top: 32px;
}
.block5{
    margin-top: 24px;
}
.block6{
    margin-top: 24px;
}
.block7{
    .small-line{
        margin: 9px 5px 0 6px;
    }
    .number{
        margin-top: -10px;
    }
}

////////// BLOCK 3 ////////////////

.text-reg{
    height: 187px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6)), url(../images/reg.png);
    max-width: 1152px;
    margin: 41px auto 0;
    box-shadow:rgba(0, 0, 0, 0.25);
    &__title{
        font-weight: 700;
        font-size: 36px;
        color: white;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 513px;
        padding-top: 25px;
        
    }
    &__light-btn{
        height: 31px;
        color: white;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
        border-radius: 10px;
        margin: 0 auto;
        display: block;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        font-weight: bold;
        font-size: 14px;
        padding: 4px 13px 11px 13px;
        margin-top: 12px;
        cursor: pointer;
    }
}
.line{
    position: relative;
    bottom: 184px;
    left: 647px;
    z-index: 20;
}
.pero{
    position: relative;
    bottom: 272px;
    left: 741px;
    z-index: 10;
}
.triangle1{
    position: relative;
    bottom: 119px;
    left: 91px;
}
.triangle2{
    position: relative;
    bottom: 68px;
    left: 288px;
}
.triangle3{
    position: relative;
    bottom: 112px;
    left: 990px;
}

.profit{
    background-image: url(../images/beg1.png);
    max-width: 1152px;
    margin: 0 auto;
    &__container{
        max-width: 870px;
        margin: 0 auto;

    }
    &__title{
        padding-top: 36px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
    &__text{
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
    }
}
.progress{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__bar{
        width: 260px;
    }
    &__bar-circle{
        margin-left: 40px;
        display: inline-block;
        width: 165px;
        height: 165px;
        border: 4px solid #C1C1C1;
        border-radius: 50%;
        font-size: 48px;
        padding-top: 50px;
        text-align: center;
        color: #989898;
    }
    &__title{
        text-align: center;
        margin-top: 10px;
    }
    &__text{
        text-align: center;
        margin-top: 6px;
        margin-bottom: 57px;
    }
}

///////// BLOCK 4 /////////////

.title-mar{
    height: 73px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6)),url(../images/title-mar.png);
    max-width: 1152px;
    margin: 0 auto;
    h2{
        color: white;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        padding-top: 16px;
    }
}

.information__container{
    max-width: 779px;
    margin: 0 auto;
}
.information{
    background-image: url(../images/beg2.png);
    max-width: 1152px;
    margin: 0 auto;
    height: 526px;
}
.ban1{
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.ban2{
    margin: 0 auto;
    position: relative;
    z-index: 0;
    bottom: 170px;
}

.blocks{
    background-color: white;
    position: relative;
    bottom: 80px;
    display: flex;
    z-index: 10;
    &__top{
        display: flex;
    }
    &__bottom{
        display: flex;
    }
}
.cont{
    &__text{
        display: table;
        padding-left: 10px;
        p{
            display: table-cell;
            vertical-align: middle;
            line-height: 16px;
        }
    }
    &__text4{
        width: 389px;
    }
    &__foto1{
        height: 196px;
        width: 190px;
    }
    &__content{
        display: flex;
    }

}

///////////// BLOCK 5 ///////////

.reviewsBan{
    background-image: linear-gradient( rgba(0, 0, 0, 0.6)), url(../images/reviews_bg.png);
    height: 72px;
    max-width: 1152px;
    margin: 0 auto;
    h2{
        color: white;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        padding-top: 16px;
    }
}

.review{
    &__container{
        max-width: 722px;
        margin: 0 auto;
    }
    &__comment{
        margin-top: 43px;
    }
    &__foto{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-right: 17px;
        margin-top: 24px;
    }
    &__text-bg{
        width: 633px;
        height: 224px;
        background-image: url(../images/comments.png);
    }
    &__block{
        display: flex;
        margin-bottom: 16px;
    }
    &__text{
        height: 224px;
    }
    &__text-rel{
        position: relative;
        bottom: 193px;
        left: 56px;
        width: 553px;
    }
    &__text-rel p{
        font-style: italic;
        line-height: 16px;
        margin-top: 4px;
    }
}

//////// BLOCK 6 /////////////

.programm{
    background-image: url(../images/programmBg.png);
    height: 761px;
    max-width: 1152px;
    margin: 58px auto 0;
    &__container{
        max-width: 933px;
        margin: 0 auto;
    }
    &__title{
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        padding-top: 115px;
    }
}
.choice{
    display: flex;
    margin-top: 46px;
    &__small{
        background-image: url(../images/choice_small.png);
        width: 268px;
        height: 313px;
        margin-top: 26px;
    }
    &__title{
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 24px;
        margin-top: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            max-width: 197px;
            margin: 0 auto;
            height: 1px;
            background: white;
            margin-top: 5px;
        }
    }
    &__text{
        max-width: 197px;
        margin: 19px auto 63px;
        color: white;
        p{
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 17px;
        }
    }
    &__small-btn{
        font-size: 14px;
        width: 162px;
        height: 37px;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
        border-radius: 10px;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        display: block;
        margin: 0 auto;
        cursor: pointer;
        &-r{
            margin-top: 87px;
        }
    }
    &__big{
        background-image: url(../images/choice_big.png);
        width: 321px;
        height: 375px;
        margin: 0 38px;
    }
    &__big-text{
        max-width: 223px;
        margin: 19px auto 63px;
        color: white;
        p{
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 17px;
        }
    }
    &__big-btn{
        width: 240px;
        height: 54px;
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: 0px 4px 4px rgba(253, 145, 255, 0.36);
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        color: #ffffff;
        font-size: 18px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        margin-top: 137px;
        cursor: pointer;
    }
}

/////// BLOCK 7 ////////////

.leading{
    &__container{
        max-width: 743px;
        margin: 0 auto;
    }
    &__content{
        display: flex;
    }
    &__info{
        padding-top: 31px;
    }
    &__info-title{
        width: 475px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }
    &__info-light{
        background: linear-gradient(90deg, #FCCAFF 0%, #FDDEFF 17.19%, #FCD1FF 37.5%, #FCCBFF 76.04%, #FCCAFF 100%);
        box-shadow: -4px -4px 10px rgba(251, 182, 255, 0.5), 4px 4px 10px rgba(251, 182, 255, 0.5);
        border-radius: 10px;
        width: 264px;
        height: 37px;
        display: block;
        margin-left: auto;
        margin-top: 9px;
    }
    &__info-light-text{
        font-weight: bold;
        font-size: 14px;
        padding: 10px 19px 6px;
        color: white;
    }
    &__info-flow{
        position: relative;
        left: 191px;
        bottom: 24px;
    }
    &__who{
        font-size: 24px;
        bottom: 37px;
        position: relative;
    }
}

.post.element-show{
    opacity: 1;
    transition: opacity 1s;
}

.fadein {
    opacity:0;
}

#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
  }
  #svg #bar {
    stroke: #FF9F1E;
  }
  #cont {
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    box-shadow: 0 0 1em black;
    border-radius: 100%;
    position: relative;
  }
  #cont:after {
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    box-shadow: inset 0 0 1em black;
    content: attr(data-pct)"%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
  }

@import 'media';